.welcome_message {
  font-family: "Roboto", sans-serif;
  transition: all 1.5s ease-in-out;
  transition-delay: 1.5s;
  margin: 0px;
  font-size: 350%;
  position: absolute;
  top: 57%;
  left: 50%;
  width: 100vw;
  text-align: center;
  transform: translate(-50%, 0);
}

.login {
  font-size: 180%;
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input_name {
  color: white;
  font-size: 70px;
  justify-content: center;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  width: 704px;
  text-align: center;
}
