.unvisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}
.quotes {
  width: 600px;
  height: 58px;
  position: fixed;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(-50%);
}

.quote {
  font-size: 22px;
  color: rgb(241, 241, 241);
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}
.author {
  font-size: 20px;
  color: rgb(193, 193, 193);
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-in-out;
}

.author span {
  transition: opacity 0.5s;
}

.quotes:hover > .quote {
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.quotes:hover > .author {
  transform: translate(-50%, 60%);
  transition: all 0.5s ease-in-out;
}
