.todo_form {
  font-size: 40px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_todo {
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  text-align: center;
  color: white;
  width: 600px;
  font-size: 40px;
}

.todo_list {
  padding: 30px;
  display: inline-block;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  background-color: rgba(16, 15, 15);
  color: white;
  position: absolute;
  bottom: 5%;
  right: 1%;
  transition: all 0.2s ease-in-out;
}

.todo_list li:first-child {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 20px 0px;
}

.todo_button {
  font-size: 25px;
  position: fixed;
  right: 1%;
  bottom: 1%;
  color: rgb(241, 241, 241);
  background: transparent;
  border: none;
}

.todo_list > li > button {
  margin-right: 10px;
  background: transparent;
  border: none;
  color: white;
}

.todo_list > li {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
